html {
  font-size: $font-size;
  font-family: $font-family;
  // background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
}


.banner {
	position: relative;
	background-color: #ffc800;
  overflow: hidden;

  margin-bottom: 20px;
}

.banner-button {
  position: absolute;
	background-color: #ff5f01;
	color: white;
	border: 0;
	border-radius: 20px;
	font-family: $font-family-claim;
	padding: 10px 20px;
}


.banner-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
  padding-top: 15px;

  img {
    height: 55px;
    margin-right: 10px;
    margin-bottom: 15px;

    &:nth-of-type(4) {
      height: 21px;
    }

    &:nth-of-type(5),
    &:nth-of-type(6) {
      height: 30px;
    }
  }
}

.image-container {
  position: absolute;
  top: 0;
}

.animation-container {
  height: 100%;
  width: 100%;
}

.animation-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner-300-250 {
  width: 300px;
	height: 250px;

  .banner-logos img {
    height: 20px;
  }

  .banner-button {
		left: 19px;
		bottom: 13px;
		font-size: 12px;
    padding: 6px 20px;
	}
}

.banner-320-480 {
  width: 320px;
	height: 480px;

  .banner-logos img {
    height: 35px;
  }

  .banner-button {
		right: 20px;
		bottom: 20px;
		font-size: 14px;
    padding: 6px 20px;
	}
}

.banner-300-600 {
	width: 300px;
	height: 600px;
	
	.banner-button {
		right: 20px;
		bottom: 20px;
		font-size: 14px;
    padding: 6px 20px;
	}

  .banner-logos {
    padding-left: 15px;
    padding-top: 15px;
  
    img {
      height: 55px;
  
      &:nth-of-type(4) {
        height: 21px;
      }
  
      &:nth-of-type(5),
      &:nth-of-type(6) {
        height: 30px;
      }
    }
  }
}

.banner-728-90 {
	width: 728px;
	height: 90px;
	
	.banner-button {
    right: 15px;
    bottom: 25px;
    font-size: 14px;
    padding: 6px 20px;
	}

  .banner-logos {
    max-width: 200px;
    padding-left: 15px;
    padding-top: 15px;
  
    img {
      height: 32px;
      margin-bottom: 8px;
  
      &:nth-of-type(4) {
        height: 15px;
      }
  
      &:nth-of-type(5),
      &:nth-of-type(6) {
        height: 22px;
      }
    }
  }
}

.banner-970-90 {
	width: 970px;
	height: 90px;
	
	.banner-button {
    right: 25px;
    bottom: 25px;
    font-size: 14px;
    padding: 6px 20px;
	}

  .banner-logos {
    max-width: 200px;
    padding-left: 15px;
    padding-top: 15px;
  
    img {
      height: 32px;
      margin-bottom: 8px;
  
      &:nth-of-type(4) {
        height: 15px;
      }
  
      &:nth-of-type(5),
      &:nth-of-type(6) {
        height: 22px;
      }
    }
  }
}

.banner-1080-1080 {
	width: 1080px;
	height: 1080px;
	
	.banner-button {
    bottom: 70px;
    left: 50px;
    font-size: 42px;
    border-radius: 70px;
    padding: 18px 55px;
	}

  .banner-logos {
    padding-left: 43px;
    padding-top: 55px;
  
    img {
      height: 120px;
  
      &:nth-of-type(4) {
        height: 50px;
      }
  
      &:nth-of-type(5),
      &:nth-of-type(6) {
        height: 90px;
      }
    }
  }
}


.text {
  position: absolute;
}

.text__part {
  &--bold {
    font-weight: 600;
  }
}

.banner-300-250 {

  // animation text
  .text {
    bottom: 55px;
    margin-left: 20px;
  }

  .text__part {
    font-size: 18px;
    line-height: 22px;
  }

  // animation icons
  .model {
    &__image {
      right: -19px;
      top: 75px;
    }
  }

  .fruits-container {
    &__fruit {
      &--orange {
        width: 45px;
        bottom: 22px;
        right: 118px;
      }
  
      &--lemon {
        width: 38px;
        right: 85px;
        top: 70px;
      }
  
      &--pill-1 {
        width: 28px;
        right: -2px;
        top: 80px;
      }
  
      &--pill-2 {
        width: 35px;
        right: 85px;
        top: 178px;
      }
    }
  }
}

.banner-320-480 {
  .text {
    bottom: 35px;
    margin-left: 25px;
  }

  .text__part {
    font-size: 22px;
    line-height: 26px;
  }

  // animation icons
  .model {
    &__image {
      width: 73%;
      right: -45px;
      top: 85px;
    }
  }

  .fruits-container {
    &__fruit {
      &--orange {
        width: 55px;
        top: 230px;
        left: 75px;
      }
  
      &--lemon {
        width: 45px;
        left: 105px;
        top: 140px;
      }
  
      &--pill-1 {
        width: 30px;
        right: -1px;
        bottom: 170px;
      }

      &--pill-2--2 {
        width: 95px;
        right: -55px;
        top: 75px;
      }
  
      &--pill-2 {
        width: 45px;
        left: 150px;
        top: 230px;
      }
    }
  }
}

.banner-300-600 {
  .text {
    bottom: 55px;
    margin-left: 25px;
  }

  .text__part {
    font-size: 22px;
    line-height: 28px;
  }

  // animation icons
  .model {
    &__image {
      width: 93%;
      right: -55px;
      top: 120px;
    }
  }

  .fruits-container {
    &__fruit {
      &--orange {
        width: 60px;
        top: 310px;
        left: 38px;
      }
  
      &--lemon {
        width: 48px;
        left: 78px;
        top: 150px;
      }
  
      &--pill-1 {
        width: 32px;
        right: 5px;
        top: 120px;
      }

      &--pill-2--2 {
        width: 95px;
        right: -80px;
        top: 235px;
      }
  
      &--pill-2 {
        width: 42px;
        left: 88px;
        top: 305px;
      }
    }
  }
}

.banner-728-90 {
  .text {
    right: 138px;
    bottom: 11px;
  }

  .text__part {
    font-size: 17px;
    line-height: 16px;
  }

  // animation icons
  .model {
    &__image {
      width: 17%;
      right: 50%;
      top: -2px;
    }
  }

  .fruits-container {
    &__fruit {
      &--orange {
        width: 45px;
        bottom: -12%;
        left: 26%;
      }
  
      &--lemon {
        width: 35px;
        left: 32%;
        top: 7px;
      }
  
      &--pill-1 {
        width: 22px;
        left: 47%;
        top: 20px;
      }
  
      &--pill-2 {
        width: 25px;
        left: 32%;
        bottom: 2%;
      }
    }
  }
}

.banner-970-90 {
  .text {
    right: 165px;
    bottom: 22px;
  }

  .text__part {
    font-size: 19px;
    line-height: 16px;
  }

  // animation icons
  .model {
    &__image {
      width: 13%;
      right: 57%;
      top: -2px;
    }
  }

  .fruits-container {
    &__fruit {
      &--orange {
        width: 43px;
        bottom: 2%;
        left: 24%;
      }
  
      &--lemon {
        width: 36px;
        left: 287px;
        top: 7px;
      }
  
      &--pill-1 {
        width: 20px;
        left: 40.5%;
        top: 20px;
      }
  
      &--pill-2 {
        width: 25px;
        left: 29%;
        bottom: 2%;
      }
    }
  }
}

.banner-1080-1080 {
  .text {
    left: 50px;
    bottom: 355px;
  }

  .text__part {
    font-size: 63px;
    line-height: 75px;
  }

  // animation icons
  .model {
    &__image {
      width: 60%;
      right: -135px;
      top: 28%;
    }
  }

  .fruits-container {
    &__fruit {
      &--orange {
        width: 14%;
        bottom: 7%;
        left: 46%;
      }
  
      &--lemon {
        width: 12%;
        left: 54%;
        top: 35%;
      }
  
      &--pill-1 {
        width: 7%;
        right: -3px;
        top: 29%;
      }
  
      &--pill-2 {
        width: 11%;
        left: 55%;
        bottom: 21%;
      }
    }
  }
}