.text {
  font-family: $font-family-claim;
  color: $claim-color;

  &__part {
    &--emphasis {
      font-weight: bold;
      color: $claim-color-emp;
    }
  }
}

.model {
  &__image {
    position: absolute;
    right: 0;
    width: 50%;
    height: auto;
  }
}

.fruits-container {
  &__fruit {
    position: absolute;
    right: 0;
    top: 50%;
    animation: bounce 1s infinite ease-in-out alternate;

    &--orange {
      width: 100px;
      height: auto;
    }

    &--lemon {
      width: 100px;
      height: auto;
    }

    &--pill-1 {
      width: 100px;
      height: auto;
    }

    &--pill-2 {
      width: 100px;
      height: auto;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(20%);
  }
}