.text {
  font-family: $font-family-claim;
  color: $claim-color;
  --delay: 40ms;
  --duration: 5s;
  // animation: fadeOut var(--duration) ease infinite;

  &__part {
    opacity: 0;
    animation: fade var(--duration) ease infinite;
    animation-fill-mode: both;

    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        animation-delay: calc(var(--delay) * $i);
      }
    }

    &--emphasis {
      font-weight: bold;
      color: $claim-color-emp;
    }
  }
}

.model {
  &__image {
    position: absolute;
    right: 0;
    width: 50%;
    height: auto;
  }
}

.fruits-container {
  &__fruit {
    position: absolute;
    right: 0;
    top: 50%;
    animation: bounce 1s infinite ease-in-out alternate;

    &--orange {
      width: 100px;
      height: auto;
    }

    &--lemon {
      width: 100px;
      height: auto;
    }

    &--pill-1 {
      width: 100px;
      height: auto;
    }

    &--pill-2 {
      width: 100px;
      height: auto;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(20%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// @keyframes fadeOut {
//   0% {
//     opacity: 100%;
//   }

//   90% {
//     opacity: 100%;
//   }

//   99% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 100%;
//   } 
// }